@font-face {
    font-family: 'aileron';
    src: url('/images/fonts/aileron/Aileron-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'aileron-bold';
    src: url('/images/fonts/aileron/Aileron-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'edensor';
    src: url('/images/fonts/aileron/EdensorFree-BW4jn.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'aileron', sans-serif !important;
    font-weight: 200 !important;
  }
  
  h1, h2 {
    font-family: 'edensor', serif !important;
  }

  h3 {
    font-family: 'aileron-bold', sans-serif !important;
  }
  